@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dot {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.dot-animation-1 {
    animation: dot 1s infinite;
}
.dot-animation-2 {
    animation: dot 1s infinite;
    animation-delay: 300ms;
}
.dot-animation-3 {
    animation: dot 1s infinite;
    animation-delay: 600ms;
}
